mixin circle-progress(data = {})
	+e.circle-progress.circle-progress__.js-circle-progress&attributes(attributes)
		+e.background
			+e.SVG.border(viewBox='0 0 60 60')
				+e.CIRCLE.border-back(
					cx='30'
					cy='30'
					r='28')
				+e.CIRCLE.border-bar.js-circle-progress-bar(
					cx='30'
					cy='30'
					r='28')
			if data.icon
				+e.icon
					img.object-fit(
						src=data.icon
						alt='circle-progress-item'
						loading='lazy')
			if block
				+e.text.js-circle-progress-text
					block
