-
	var headerData = {
		logo: `${imgPath}common/logo.svg`,
		logoDark: `${imgPath}common/logo_dark.svg`,

		links: [
			{
				href: '/about.html',
				text: 'О компании',
			},
			{
				href: '/services.html',
				text: 'Услуги',
				subblock: {
					tabs: [
						'По транспорту',
						'Все услуги',
					],

					items: [
						[
							{
								href: '/services-inner.html',
								label: 'Автомобильные',
								links: [
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
								],
							},
							{
								href: '/services-inner.html',
								label: 'Железнодорожные',
								links: [
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
								],
							},
							{
								href: '/services-inner.html',
								label: 'Морские',
								links: [
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
								],
							},
							{
								href: '/services-inner.html',
								label: 'Авиа',
								links: [
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
									{
										href: '/service.html',
										text: 'Название услуги',
									},
								],
							},
						],
						[
							{
								labels: [
									{
										href: '/service.html',
										label: 'Крановые работы',
									},
									{
										href: '/service.html',
										label: 'Курьерские услуги',
									},
									{
										href: '/service.html',
										label: 'Маркировка',
									},
									{
										href: '/service.html',
										label: 'Крановые работы',
									},
									{
										href: '/service.html',
										label: 'Курьерские услуги',
									},
								]
							},
							{
								labels: [
									{
										href: '/service.html',
										label: 'Такелажные работы',
									},
									{
										href: '/service.html',
										label: 'Упаковка груза',
									},
									{
										href: '/service.html',
										label: 'Возврат  оригиналов документов ',
									},
									{
										href: '/service.html',
										label: 'Такелажные работы',
									},
									{
										href: '/service.html',
										label: 'Упаковка груза',
									},
								]
							},
							{
								labels: [
									{
										href: '/service.html',
										label: 'Погрузо-разгрузочные работы',
									},
									{
										href: '/service.html',
										label: 'Консолидация груза',
									},
									{
										href: '/service.html',
										label: 'Внутритарный учет',
									},
									{
										href: '/service.html',
										label: 'Погрузо-разгрузочные работы',
									},
									{
										href: '/service.html',
										label: 'Консолидация груза',
									},
								]
							},
							{
								labels: [
									{
										href: '/service.html',
										label: 'Крепление груза',
									},
									{
										href: '/service.html',
										label: 'Сортировка',
									},
									{
										href: '/service.html',
										label: 'Доставка до склада грузоотправителя',
									},
									{
										href: '/service.html',
										label: 'Крепление груза',
									},
									{
										href: '/service.html',
										label: 'Сортировка',
									},
								],
							},
						],
					],
				},
			},
			{
				href: '/news.html',
				text: 'Новости',
			},
			{
				href: '/contacts.html',
				text: 'Контакты',
			},
		],
	};

mixin header(data = {})
	+b.HEADER.header(class=`${data.mods ? `_${data.mods.join(' _')}` : ''} js-header`)
		+e.wrap.wrap
			+e.row._top.flex._vertical
				+e.A.logo.flex(href='/')
					if data.mods && data.mods.includes('light')
						+e.IMG.logo-img(
							src=headerData.logoDark
							alt='tlk-comfort-logo')
					else
						+e.IMG.logo-img(
							src=headerData.logo
							alt='tlk-comfort-logo')
					+e.logo-text ТЛК КОМФОРТ
				+e.A.phone(href='tel:+74953766110') +7 495 376 61 10
				+e.BUTTON.callback.js-popup-callback-trigger Заказать звонок
				+e.BUTTON.menu-button.js-header-button
					span
			+e.row._menu.flex.js-header-menu.js-tabs
				each link, linkIndex in headerData.links
					+e.block(class=link.subblock && 'js-header-subblock-trigger')
						+e.A.link.flex._vertical(href=link.href class=`${activeHeaderLink === linkIndex ? 'is-active' : '' }`)
							+e.link-text #{ link.text }
							if link.subblock
								+e.link-icon
									+icon('arrowDown', '0 0 16 16')
						if link.subblock
							+e.subblock.js-header-subblock
								- var item = headerData.links[1].subblock;
								.wrap
									+e.tabs.flex.js-tabs-parent
										each tab, index in item.tabs
											+e.BUTTON.tab.js-tabs-button(class=index === 0 && 'is-active') #{ tab }
									+e.content
										each cell, index in item.items
											+e.tab-item.js-tabs-content(class=index === 0 && 'is-active')
												each content in cell
													+e.item
														if content.labels
															each label in content.labels 
																+e.A.item-label.flex(href=label.href) #{ label.label }
														else
															+e.A.item-label.flex(href=content.href) #{ content.label }
															if content.links
																+e.item-links.flex._column
																	each link in content.links
																		+e.A.item-link(href=link.href) #{ link.text }
