-
	var aboutInfoData = {
		title: 'Доставка в любую точку России',

		items: [
			{
				title: 'Доставка в любую точку России',
				text: 'Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. ',
				photo: `${imgPath}about-info.jpg`,
			},
			{
				title: 'в любую точку России',
				text: 'Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. ',
				photo: `${imgPath}about-value.jpg`,
			},
			{
				title: 'Доставка точку России',
				text: 'Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. ',
				photo: `${imgPath}about-info.jpg`,
			},
			{
				title: 'Доставка в любую точку России',
				text: 'Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории.',
				photo: `${imgPath}about-value.jpg`,
			},
		],
	};

+b.SECTION.about-info
	+e.wrap.wrap.flex._column
		+e.box
			+slider-buttons({mode: ['_light']})
			+e.slider.swiper.js-about-slider
				.swiper-wrapper
					each item in aboutInfoData.items
						+e.slide.swiper-slide
							+e.info
								+e.H4.title.h2 #{ item.title }
								+e.text #{ item.text }
							+e.photo
								img.object-fit(
									src=item.photo
									alt='about-info-photo'
									loading='lazy')
			+circle-progress
				| 1 / 4
