-
	var aboutHeroData = {
		titleLogo: 'textLogo',
		titleLogoViewBox: '0 0 1363 186',

		text: 'Мы современная независимая транспортная компания, осуществляющая промышленные грузоперевозки любых габаритов и веса в любую точку Российской Федерации, надежный партнёр и отвественный работодатель.',

		background: {
			mobile: `${imgPath}background/about-hero-bg-mobile.jpg`,
			default: `${imgPath}background/about-hero-bg.jpg`,
		},
	};

+b.SECTION.about-hero.js-about-hero
	+e.wrap.wrap
		+e.H1.title.js-reveal-fadeIn
			+icon(aboutHeroData.titleLogo, aboutHeroData.titleLogoViewBox)
		+e.subtitle.flex._justify
			+e.text.js-reveal-fadeIn #{ aboutHeroData.text }
			+round-arrow.js-reveal-fadeIn
	+e.PICTURE.background.unreached.js-about-hero-photo
		source(
			srcset=aboutHeroData.background.mobile
			media='(max-width: 580px)')
		img.object-fit(
			src=aboutHeroData.background.default
			alt='about-hero-background'
			loading='lazy')
	+text-outlined.js-reveal-fadeIn.js-reveal-viewFactor
