-
	var aboutInfoData = {
		title: 'Доставка в любую точку России',

		items: [
			{
				text: 'Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. ',
			},
			{
				text: 'Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. ',
			},
			{
				text: 'Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. ',
			},
			{
				text: 'Мы работаем по всей России и готовы доставить ваш груз в любую точку страны, включая труднодоступные районы и отдаленные территории. ',
			},
		],

		photo: [
			`${imgPath}about-info.jpg`,
			`${imgPath}about-info.jpg`,
			`${imgPath}about-info.jpg`,
			`${imgPath}about-info.jpg`,
		],
	};

+b.SECTION.about-info
	+e.wrap.wrap.flex._column
		+e.description
			+e.header.flex._vertical
				+slider-buttons({mode: ['_light']}).js-reveal-slideRight
				+e.H2.title.h2.js-reveal-slideLeft #{ aboutInfoData.title }
			+e.text-slider.swiper.js-slider-about-info-text.js-reveal-fadeIn
				.swiper-wrapper
					each slide in aboutInfoData.items
						+e.text-slide.swiper-slide 
							+e.text #{ slide.text }
			+circle-progress
				| 1 / 4
		+e.photo-slider.swiper.js-slider-about-info-photo.js-reveal-slideLeft.js-reveal-viewFactord
			.swiper-wrapper
				each item in aboutInfoData.photo
					+e.photo-slide.swiper-slide
						img.unselecte.object-fit(
							src=item
							alt='about-info-photo'
							loading='lazy')
