-
	var articleData = {
		title: 'Почему вам стоит обратить внимание на турецкое направление? Глобальное исследование в рубрике.',

		date: {
			day: '31',
			month: 'Марта',
			year: '2022',
		},

		photo: `${imgPath}article.jpg`,

		content: [
			'Начиная с августа 2021 года цена на подержанные контейнеры (КТК) неуклонно снижается как в портах США и Северной Европы, так и в Китае, следует из годового отчета технологической платформы Container xChange.',
			'При этом подержанное оборудование дешевеет даже быстрее, чем падают ставки фрахта. Так, по оценкам аналитиков Container xChange, стоимость морских перевозок по итогам I полугодия 2022 года уменьшилась на 20%, а цены на б\у контейнеры – на 25-30%. Самое сильное снижение цен отмечают в КНР: с примерно $6 000 в портах Шанхая, Нинбо и Циндао в августе 2021 года до $4 000 в июне этого года. Стоимость контейнеров в Роттердаме, Гамбурге и Антверпене уменьшились с более чем $4 000 до чуть менее $3 000. В США стоимость подержанных контейнеров снижалась менее стремительно: с $3 500 – $4 000 до почти $3 000. Однако недавно цены в портах Южной Калифорнии поднялись до уровня $3 500 – $3 700 в июне. Падение цен на контейнеры аналитики Container xChange объясняют следующим образом. Многие глобальные перевозчики панически скупали контейнеры, доведя производство «ящиков» до рекордных уровней. Стремясь справиться с растущими задержками и перегрузками в цепи поставок, операторы увеличили предложение контейнеров, но теперь, когда спрос замедляется, «ящики» скапливаются на контейнерных площадках в крупных портах. По прогнозам Container xChange, «перевозчики поспешат избавиться от старого оборудования, так как оно будет накапливаться по всей цепочке поставок. Цены на подержанные контейнеры будут продолжать снижаться». Напомним, по оценкам Института проблем естественных монополий, спрос на контейнеры в России оцениваются в 100 000 «ящиков». LR',
		],
	};

+b.SECTION.article
	+e.wrap.wrap
		+e.BUTTON.back.js-back.flex._vertical
			+round-arrow
			span Все новости
		+e.body.flex.flex_start
			+e.cell._info
				+e.H1.title.h2 #{ articleData.title }
				+e.date.flex._vertical
					+e.date-day #{ articleData.date.day }
					+e.date-other.flex._column
						each item, index in articleData.date
							if index !== 'day'
								span #{ item }
			+e.cell._content
				+e.content
					img(
						src=articleData.photo
						alt='article-photo'
						loading='lazy')
					each item in articleData.content
						p #{ item }
