-
	var heroData = {
		label: 'ТЛК «Комфорт» — ваш проверенный партнер',

		title: 'Доставка грузов любых габаритов и веса в любую точку России',

		fields: [
			{
				type: 'text',
				customAutocomplete: true,
				label: 'Откуда',
				placeholder: 'Комсомольск-на-Амуре',
				name: 'destination_from',
			},
			{
				type: 'text',
				customAutocomplete: true,
				label: 'Куда',
				placeholder: 'Комсомольск-на-Амуре',
				name: 'destination_to',
			},
		],

		background: {
			mobile: `${imgPath}background/hero-bg-mobile.jpg`,
			default: `${imgPath}background/hero-bg.jpg`,
		},

		text: 'Наша главная цель — долгосрочное, взаимовыгодное сотрудничество с каждым клиентом.',
	};

+b.SECTION.hero.js-custom-reveal
	+e.wrap.wrap
		+e.label.flex._vertical.js-reveal-fadeIn
			+e.label-icon
				+icon('union', '0 0 15 16')
			+e.label-text #{ heroData.label }
		+e.H1.title.h1.js-custom-reveal-item #{ heroData.title }
		+e.box.flex._vertical.js-reveal-fadeIn
			+field(heroData.fields[0])
			+e.BUTTON.box-icon.js-change-direction
				+icon('directionToggle', '0 0 24 36').small-tablet-hidden
				+icon('directionToggleMobile', '0 0 36 24').min-small-tablet-hidden
			+field(heroData.fields[1])
			+button.js-popup-service-trigger
				| Рассчитать стоимость
		+e.text.js-reveal-fadeIn #{ heroData.text }
	+e.PICTURE.background.unreached
		source(
			srcset=heroData.background.mobile
			media='(max-width: 580px)')
		+e.IMG.background-photo.object-fit(
			src=heroData.background.default
			alt='promo-background')
