-
	var mainNewsData = {
		title: 'Новости и статьи',

		tabs: [
			'Компания',
			'Новости отрасли',
			'Статьи',
		],

		content: [
			[
				{
					text: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					date: {
						day: '31',
						month: 'Марта',
						year: '2022',
					},
				},
				{
					text: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					text: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					date: {
						day: '28',
						month: 'Июня',
						year: '2022',
					},
				},
				{
					text: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					text: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					date: {
						day: '15',
						month: 'Сентября',
						year: '2022',
					},
				},
				{
					text: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					text: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					date: {
						day: '15',
						month: 'Сентября',
						year: '2022',
					},
				},
			],
			[
				{
					text: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					date: {
						day: '31',
						month: 'Марта',
						year: '2022',
					},
				},
				{
					text: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					date: {
						day: '28',
						month: 'Июня',
						year: '2022',
					},
				},
				{
					text: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					date: {
						day: '15',
						month: 'Сентября',
						year: '2022',
					},
				},
				{
					text: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					date: {
						day: '15',
						month: 'Сентября',
						year: '2022',
					},
				},
			],
			[
				{
					text: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					text: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					text: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					text: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
			],
		],
	};
	var i = 0;

+b.SECTION.main-news.js-tabs(data-tabs-slider='true')
	+e.wrap.wrap
		+e.H2.title.h3.js-reveal-fadeIn #{ mainNewsData.title }
		+e.header.flex._vertical._justify
			+e.tabs.js-tabs-parent.js-reveal-fadeIn
				each item, index in mainNewsData.tabs
					+e.BUTTON.tab.js-tabs-button(class=index === 0 && 'is-active') #{ item }
			+e.slider-buttons-wrap.js-reveal-fadeIn
				while i < 3
					+slider-buttons(class=i === 0 && 'is-active')
					- i += 1;
		+e.content.js-reveal-fadeIn
			each slider, index in mainNewsData.content
				+e.slider-outer.js-tabs-content(class=index === 0 && 'is-active')
					+e.slider.swiper.js-slider-main-news
						.swiper-wrapper
							each item in slider 
								+e.A.slide.swiper-slide(href='#')
									+e.slide-text #{ item.text }
									+e.slide-footer.flex._vertical._justify
										+e.slide-day #{ item.date.day }
										+e.slide-dates.text-right
											+e.slide-month #{ item.date.month }
											+e.slide-year #{ item.date.year }
									+e.slide-background.flex._end._right._column
										img.unreached(
											src=`${imgPath}common/logo_transparent.svg`
											alt='logo'
											loading='lazy')
