-
	var newsData = {
		breadcrumbs: [
			{
				href: '/.main.html',
				text: 'Главная',
			},
			{
				text: 'Новости',
			},
		],

		tabs: [
			'Компания',
			'Новости отрасли',
			'Статьи',
		],

		banner: {
			photo: `${imgPath}news-header.jpg`,
			title: 'Почему вам стоит обратить внимание на турецкое направление?',
			subtitle: 'Геополитические изменения 2022 года привели к небывалому росту интереса к турецкой логистике. Сегодня многие компании обращают внимание на это направление.',
		},

		content: [
			[
				{
					caption: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-1.jpg`,
					date: {
						day: '31',
						month: 'Марта',
						year: '2022',
					},
				},
				{
					caption: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-2.jpg`,
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					caption: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-3.jpg`,
					date: {
						day: '28',
						month: 'Июня',
						year: '2022',
					},
				},
				{
					caption: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-4.jpg`,
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					caption: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-1.jpg`,
					date: {
						day: '15',
						month: 'Сентября',
						year: '2022',
					},
				},
				{
					caption: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-2.jpg`,
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					caption: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-3.jpg`,
					date: {
						day: '15',
						month: 'Сентября',
						year: '2022',
					},
				},
			],
			[
				{
					caption: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-4.jpg`,
					date: {
						day: '31',
						month: 'Марта',
						year: '2022',
					},
				},
				{
					caption: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-1.jpg`,
					date: {
						day: '28',
						month: 'Июня',
						year: '2022',
					},
				},
				{
					caption: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-2.jpg`,
					date: {
						day: '15',
						month: 'Сентября',
						year: '2022',
					},
				},
				{
					caption: 'Снижение тарифов на перевозки из России в Беларусь и в обратном направлении',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-3.jpg`,
					date: {
						day: '15',
						month: 'Сентября',
						year: '2022',
					},
				},
			],
			[
				{
					caption: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-4.jpg`,
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					caption: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-1.jpg`,
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					caption: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-2.jpg`,
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
				{
					caption: 'С 1 мая 2022 г. снижены тарифы на перевозки из России в Республику Беларусь и в обратном направлении. Выгода для клиентов ТЛК «Комфорт» может составить до 10%!',
					text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
					photo: `${imgPath}news-3.jpg`,
					date: {
						day: '22',
						month: 'Августа',
						year: '2022',
					},
				},
			],
		],
	};

+b.SECTION.news.js-tabs
	+e.wrap.wrap
		+breadcrumbs(newsData.breadcrumbs).js-reveal-fadeIn
		+tabs(newsData.tabs).js-reveal-fadeIn
		+e.content
			each content, index in newsData.content
				+e.items.js-tabs-content(class=index === 0 && 'is-active')
					each item, index in content 
						if index === 0
							+e.A.header.flex(href='./article.html')
								+e.header-cell._photo
									+e.header-photo
										img.object-fit(
											src=newsData.banner.photo
											alt='news-header-photo')
								+e.header-cell._description.flex._column._justify
									+e.H2.header-title.h2 #{ newsData.banner.title }
									+e.header-subtitle #{ newsData.banner.subtitle }
						+e.A.item.flex._justify(href='./article.html')
							+e.item-cell._preview.flex
								+e.item-photo
									img.object-fit(
										src=item.photo
										alt='news-photo'
										loading='lazy')
								+round-arrow
								+e.item-date.flex._column
									each date in item.date
										span #{ date }
							+e.item-cell._info.flex._column._justify
								+e.item-caption #{ item.caption }
								+e.item-text #{ item.text }
					+e.BUTTON.more.flex._column._center._vertical
						+e.SPAN.more-text Показать ещё
						+round-arrow
