-
	var serviceCalculationData = {
		title: 'Рассчитайте стоимость доставки',

		fields: [
			[
				{
					mode: '_transparent',
					type: 'text',
					customAutocomplete: true,
					label: 'Откуда',
					placeholder: 'Комсомольск-на-Амуре',
					name: 'destination_from',
				},
				{
					mode: '_transparent',
					type: 'text',
					customAutocomplete: true,
					label: 'Куда',
					placeholder: 'Комсомольск-на-Амуре',
					name: 'destination_to',
				},
			],
			[
				{
					mode: '_transparent',
					label: 'Вес',
					type: 'text',
					name: 'weight',
					placeholder: 'кг',
				},
				{
					mode: '_transparent',
					label: 'Объем',
					type: 'text',
					name: 'size',
					placeholder: 'м3',
				},
				{
					isButton: true,
				},
			]
		],


		photo: `${imgPath}service-calculation.svg`,
	};


+b.SECTION.servic-calculation
	+e.wrap.wrap
		+e.H2.title.h2.js-reveal-fadeIn #{ serviceCalculationData.title }
		+e.form
			+e.fields
				each row in serviceCalculationData.fields
					+e.fields-row.flex._vertical.js-reveal-slideUp
						each item, index in row
							if item.customAutocomplete
								+field(item)
								if index === 0
									+e.BUTTON.fields-icon.js-change-direction
										+icon('directionToggle', '0 0 24 36').small-tablet-hidden
										+icon('directionToggleMobile', '0 0 36 24').min-small-tablet-hidden
							else if item.isButton
								+button.js-popup-service-trigger
									| Отправить запрос
							else
								+field(item)
		+e.IMG.photo.is-unreached.js-reveal-slideLeft.js-reveal-viewFactor(
			src=serviceCalculationData.photo
			alt='serice-calculation-photo'
			loading='lazy')
