-
	var serviceInfoData = {
		content: [
			{
				isCaption: true,
				text: 'Об услуге',
			},
			{
				text: 'Доставка грузов всех категорий по территории России осуществляется всеми видами транспортных средств. И каждый вид имеет преимущества и недостатки. Среди всех видов грузоперевозок авиадоставка груза/товара занимает особую нишу, которая находится вне конкуренции. <br/>Авиаперевозки грузов по территории РФ имеют ряд неоспоримых преимуществ:',
			},
			{
				text: 'Компания ТЛК «Комфорт» более 10 лет успешно работает на рынке региональных авиаперевозок (внутренние рейсы). Солидный опыт работы и сотрудничество с ведущими авиакомпаниями позволяет нам гарантировать оперативную доставку в пункт назначения. Мы обеспечиваем транспортировку воздушными суднами практически всех категорий грузов, как традиционные товары/грузы, так и негабаритные, опасные и уязвимые категории грузов.',
			},
			{
				isCaption: true,
				text: 'Безопасность и оперативность',
			},
			{
				text: 'Наша компания осуществляет авиадоставку опасных грузов в соответствии с Федеральными Авиационными Правилами (ФАП — ОГ). География доставки грузов воздушным транспортом достаточно обширна. Вхождение на рынок авиаперевозок новых российских авиакомпаний, открытие современных аэропортов в населенных пунктах РФ позволяет с каждым годом расширять список городов присутствия нашей компании и значительно увеличивать количество регулярных рейсов.',
			},
		],

		photo: {
			mobile: `${imgPath}background/service-info-bg-mobile.jpg`,
			default: `${imgPath}background/service-info-bg.jpg`,
		},
	};

+b.SECTION.service-info
	+e.wrap.wrap
		+e.content.js-reveal-slideUp.js-reveal-viewFactor
			each item in serviceInfoData.content
				if item.isCaption
					+e.H4 !{ item.text }
				else
					+e.P !{ item.text }
		+e.PICTURE.photo.js-reveal-slideLeft.js-reveal-viewFactor
			source(
				srcset=serviceInfoData.photo.mobile
				media='(max-width: 768px)')
			img.object-fit(
				src=serviceInfoData.photo.default
				alt='service-hero-photo'
				loading='lazy')
