-
	var typesData = {
		title: 'Типы перевозок',

		tabs: [
			'Автомобильные',
			'Железнодорожные',
			'Авиа',
			'Морские',
		],

		content: [
			{
				photo: `${imgPath}types-1.svg`,
				text: 'Этот способ позволяет перевозить почти все виды грузов. Основное его достоинство — возможность доставки «от двери до двери». Это значит, что доставка происходит без перегрузов на другой транспорт в процессе движения по маршруту.',
				linkHref: '/services-inner.html',
			},
			{
				photo: `${imgPath}types-2.svg`,
				text: 'Перевозка железнодорожным транспортом имеет ряд значительных преимуществ. Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
				linkHref: '/services-inner.html',
			},
			{
				photo: `${imgPath}types-3.svg`,
				text: 'Ключевое преимущество авиаперевозок — скорость. Кроме того, авиатехника используется для доставки в самые труднодоступные районы России. Таким образом, авиация — это самый быстрый, а иногда и единственно возможный вид транспорта для перевозки грузов',
				linkHref: '/services-inner.html',
			},
			{
				photo: `${imgPath}types-4.svg`,
				text: 'Прежде всего, этот способ — один из самых доступных по цене. В России по железной дороге можно транспортировать все виды грузов.',
				linkHref: '/services-inner.html',
			},
		],
	};

+b.SECTION.types.js-tabs(data-tabs-own-animation='true')
	+e.wrap.wrap
		+e.header.flex._justify
			+e.H2.title.h3.js-reveal-fadeIn #{ typesData.title }
			+e.tabs-outer.js-reveal-fadeIn
				+e.tabs.flex.js-tabs-parent
					each tab, index in typesData.tabs
						+e.BUTTON.tab.js-tabs-button(class=index === 0 && 'is-active') #{ tab }
		+e.content
			+e.items.js-reveal-slideUp
				each item, index in typesData.content
					+e.item.flex._justify.js-tabs-content(class=index === 0 && 'is-active')
						+e.item-cell._description.flex._column._justify._start
							+e.item-text #{ item.text }
							+button({href: item.linkHref, mods: ['gray']})
								| Подробнее
						+e.item-cell._photo.flex
							+e.IMG.item-photo(
								src=item.photo
								alt='item-photo')
